<%- include('../partials/head') %>
<%- include('../partials/nav') %>
    <header class="clan padding-top-5 padding-bottom-5">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h2><%- clan.name %></h2>
                </div>
            </div>
            <div class="row">
                <div class="col l4 m4 s12 center">
                    <img class="responsive-image" src="<%- clan.badgeUrls.medium %>" alt="Fearless Badge">
                </div>
                <div class="col l2 m3 s6">
                    <span class="badge new"><img src="../images/icons/trophy.png" width="23" alt="Trophy">
                        <p>Points: <%- clan.clanPoints %></p>
                    </span>
                </div>
                <div class="col l2 m3 s6">
                    <span class="badge new"><img src="../images/icons/clock.png" width="23" alt="Trophy">
                        <p>
                            <% if(clan.warFrequency) { %>
                            Twice a week
                            <% } %>
                        </p>
                    </span>
                </div>
                <div class="col l2 m3 s6">
                    <span class="badge new"><img src="../images/icons/firework.png" width="23" alt="Trophy">
                        <p> Wins: <%- clan.warWins %> </p>
                    </span>
                </div>
                <div class="col l2 m3 s6">
                    <span class="badge new"><img src="../images/icons/loop.png" width="23" alt="Trophy">
                        <p> Wins Streak: <%- clan.warWinsStreak %> </p>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <!-- Clan members list -->
    <div class="members padding-top-1 padding-bottom-2">
        <div class="row">
            <form action="/clashOfClans/member-stats" method="post">
                <button type="submit" class="btn btn-large">Members</button>
            </form>
            
        </div>
        <% for (var i = 0; i < stats.length ; i++) { %>
        <div class="row">
            <div class="col m5 s12">
                <p><b><%- stats[i].name -%></b></p>
                <p>
                    Role: <% 
                    if(stats[i].role === 'admin') { %>
                    Elder
                    <% } else { %>
                        <%- stats[i].role[0].toUpperCase() + stats[i].role.substring(1) %>
                    <% } %>
                </p>
            </div>
            <div class="col m4 s12">
                <p>Rank: <%- stats[i].numOfAttacks -%></p>
                <p><img src="../images/icons/trophy.png" width="23" alt="Trophies"><%- stats[i].numOfWars -%></p>
            </div>
            <div class="col m3 s12">
                <p> <img src="../images/icons/up.png" width="22" alt="Donated"><%- stats[i].numOfWars -%> </p>
                <p> <img src="../images/icons/down.png" width="22" alt="Received"><%- stats[i].numOfWars -%>
                </p>
            </div>
        </div>
        <% } %>
    </div>
    <%- include('../partials/footer') %>